<div class="user-operation">
    <nz-dropdown [nzTrigger]="'click'">
      <a class="operation-head">
        <span class="user-pic"><img src="http://placehold.it/24x24" alt=""></span>
        大帅哥
      </a>
      <ul nz-menu class="user-operction-list">
        <li nz-menu-item><a class="operation-item"><i class="account-icon"></i>我的账号</a></li>
        <li nz-menu-item><a class="operation-item"><i class="password-icon"></i>修改密码</a></li>
        <li nz-menu-item><a class="operation-item"><i class="help-icon"></i>帮助中心</a></li>
        <li nz-menu-item><a class="operation-item"><i class="personal-config-icon"></i>个人配置</a></li>
        <li nz-menu-item><a class="operation-item"><i class="lock-icon"></i>锁屏</a></li>
        <li nz-menu-item><a class="operation-item"><i class="exit-icon"></i>退出</a></li>
      </ul>
    </nz-dropdown>
  </div>
