<div class="common-head m-t-15">
  <ul class="home-head-list">
    <li class="head-list-item pull-left">
      <a class="item-btn">
          <span class="item-num pull-left"><b class="num font-size-34">999+</b>人</span>
          <i class="today-app item-icon pull-left"></i>
          <span class="item-title pull-left font-size-14">今日新增预约</span>
      </a>
    </li>
    <li class="head-list-item pull-left">
        <a class="item-btn">
            <span class="item-num pull-left"><b class="num font-size-34">999+</b>人</span>
            <i class="tomorow-app item-icon pull-left"></i>
            <span class="item-title pull-left font-size-14">明日预约确认</span>
        </a>
    </li>
    <li class="head-list-item pull-left">
        <a class="item-btn">
            <span class="item-num pull-left"><b class="num font-size-34">999+</b>人</span>
            <i class="today-new-patient item-icon pull-left"></i>
            <span class="item-title pull-left font-size-14">今日新增患者</span>
        </a>
    </li>
    <li class="head-list-item pull-left">
        <a class="item-btn">
            <span class="item-num pull-left"><b class="num font-size-34">999+</b>人</span>
            <i class="today-new-members item-icon pull-left"></i>
            <span class="item-title pull-left font-size-14">今日新增会员</span>
        </a>
    </li>
    <li class="head-list-item pull-left">
        <a class="item-btn">
            <span class="item-num pull-left"><b class="num font-size-34">999+</b>人</span>
            <i class="today-follow-num item-icon pull-left"></i>
            <span class="item-title pull-left font-size-14">今日随访人次</span>
        </a>
    </li>
    <li class="head-list-item pull-left">
        <a class="item-btn">
            <span class="item-num pull-left"><b class="num font-size-34">999+</b>人</span>
            <i class="today-paid-amount item-icon pull-left font-size-34"></i>
            <span class="item-title pull-left font-size-14">今日实收金额</span>
        </a>
    </li>
  </ul>
</div>
