<div class="information pull-right">
    <a class="information-btn" [ngClass]="{'active':isActive}" (click)="isShow($event,informationMain)">
      <i class="information-icon"></i>
      <i class="message">99+</i>
    </a>
    <div #informationMain class="information-box">
      <div class="information-main" *ngIf="isActive">
        <div class="message-count font-size-12">
          <span class="count">收到消息<i class="number">{{count}}</i>条</span>
          <a class="clear-btn" (click)="clear()">清空消息<i class='clear'></i></a>
        </div>
        <div class="information-scroll-main">
          <dl class="information-list">
            <dt class="information-title">系统公告</dt>
            <dd class="information-content">
              <div class="message-tit">
                <i class="sys-icon"></i>
                这里显示消息时间
              </div>
              <p class="message-content">这里是消息的内容这里是消息的内容这里是消息的内容这里是消息的内容</p>
            </dd>
          </dl>
          <dl class="information-list">
            <dt class="information-title">系统公告</dt>
            <dd class="information-content">
              <div class="message-tit">
                <i class="sys-icon"></i>
                这里显示消息时间
              </div>
              <p class="message-content">这里是消息的内容这里是消息的内容这里是消息的内容这里是消息的内容</p>
            </dd>
          </dl>
          <dl class="information-list">
            <dt class="information-title">系统公告</dt>
            <dd class="information-content">
              <div class="message-tit">
                <i class="sys-icon"></i>
                这里显示消息时间
              </div>
              <p class="message-content">这里是消息的内容这里是消息的内容这里是消息的内容这里是消息的内容</p>
            </dd>
          </dl>
        </div>
      </div>
    </div>
</div>
