$menu-bg-color:#0049b0;
$active-bg-color:#4991f5;
$base-color:#ffffff;
$normal-font-color:#4f5e7b;
$warn-font-color:#879bba;
$icon-font-normal-color:#727e8e;
$list-no-border-color:#99c1f9;
$icon-font-bg-color:#acc3e4;
$dropdown-hover-bg-color:#f5f8fb;
$dropdown-bg-color:#ecf0f7;
$dropdown-bottom-border-color:#eceff3;
$list-bg-color:#005fe4;
$list-title-bg-color:#ebf2fa;
$list-border-color:#dee2ee;
$btn-bg-color1:#ffc021;
$btn-bg-color2:#dfe1e6;
$btn-bg-color3:#f5a623;
$btn-bg-color4:#37c0cd;
$btn-bg-color5:#b3c8e7;