$sys-bg-color:#ECF0F7;
$menu-bg-color:#0049b0;
$active-bg-color:#4991f5;
$active-user-operation-color:#013f96;
$base-color:#ffffff;
$normal-font-color:#4f5e7b;
$warn-font-color:#879bba;
$icon-font-normal-color:#727e8e;
$list-no-border-color:#99c1f9;
$icon-font-bg-color:#acc3e4;
$dropdown-hover-bg-color:#f5f8fb;
$dropdown-bg-color:#ecf0f7;
$dropdown-bottom-border-color:#eceff3;
$list-bg-color:#005fe4;
$list-title-bg-color:#ebf2fa;
$list-border-color:#dee2ee;
$btn-bg-color1:#ffc021;
$btn-bg-color2:#dfe1e6;
$btn-bg-color3:#f5a623;
$btn-bg-color4:#37c0cd;
$btn-bg-color5:#b3c8e7;
$box-shadow-color:#eff2f7;
$flyout-bg-color1:#ecf2fa;
$flyout-bg-color2:#f9fafc;
$flyout-bg-color3:#d7e5f9;
$font-color1:#657a9d;
$btn-bg-color6:#fa7c74;
$btn-bg-color7:rgb(73,145,245);
$font-color2:#5c79b0;
$border-color1:#4278c4;
$box-shadow-color2:rgb(117,153,220);
$box-shadow-color3:rgb(191,205,214);
