html,body{
    width:100%;
    min-width: 1280px;
    max-width: 1440px;
    margin:0px auto;
    height: 100%;
    overflow: hidden;
    position: relative;
    font-family: 'Microsoft YaHei' !important;
    font-size: 12px;
}
.pull-left{
    float:left;
}