@import "./all-color.scss";
@font-face {
  font-family: 'iconfont';  /* project id 561531 */
  src: url('//at.alicdn.com/t/font_561531_hfyh6qm6fsp833di.eot');
  src: url('//at.alicdn.com/t/font_561531_hfyh6qm6fsp833di.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_561531_hfyh6qm6fsp833di.woff') format('woff'),
  url('//at.alicdn.com/t/font_561531_hfyh6qm6fsp833di.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_561531_hfyh6qm6fsp833di.svg#iconfont') format('svg');
}
.confguration-icon::before{
    font-family: 'iconfont';
    content:'\e6d8';
}
.account-icon::before{
    font-family: 'iconfont';
    content:'\e6b3';
}
.password-icon::before{
    font-family: 'iconfont';
    content:'\e6e5';
}
.help-icon::before{
    font-family: 'iconfont';
    content:'\e696';
}
.lock-icon::before{
    font-family: 'iconfont';
    content:'\e750';
}
.exit-icon::before{
    font-family: 'iconfont';
    content:'\e64f';
}
.weichat-icon::before{
    font-family: 'iconfont';
    content:'\e628';
}
.information-icon::before{
    font-family: 'iconfont';
    content:'\e639';
}
.clear::before{
    font-family: 'iconfont';
    content:'\e636';
}
.ping::before{
    font-family: 'iconfont';
    content:'\e681';
}
.add-icon::before{
    font-family: 'iconfont';
    content:'\e655';
}
.close-icon::before{
    font-family: 'iconfont';
    content:'\e61a';
}
.show-down::before{
    font-family: 'iconfont';
    content: '\e63b';
}
.search-icon::before{
    font-family: 'iconfont';
    content: '\e611';
}
.mrn-icon::before{
    font-family: 'iconfont';
    content: '\e66b';
}
.phon-icon::before{
    font-family: 'iconfont';
    content: '\e606';
}