<!-- <div>这是主内容公共部分</div> -->
<!-- <ul style="height:300px;">
    <li><a [routerLink]="['home']">首页</a></li>
    <li><a [routerLink]="['appointment']">预约</a></li>
    <li><a [routerLink]="['patients']">患者</a></li>
    <li><a [routerLink]="['report']">报表</a></li>
    <li><a [routerLink]="['clinic']">诊所</a></li>
    <li><a [routerLink]="['billing']">收费</a></li>
    <li><a [routerLink]="['operation']">运营</a></li>
    <li><a [routerLink]="['scrm']">SCRM</a></li>
    <li><a [routerLink]="['knowledge']">知识库</a></li>
    <li><a [routerLink]="['configuration']">系统配置</a></li>
</ul> -->
<app-header></app-header>
<router-outlet></router-outlet>