<div class="header">
  <div class="pull-left logo"><img src="http://placehold.it/120x24" alt=""></div>
  <div class="menu pull-left">
    <ul class="menu-ul">
      <li class="menu-item pull-left" *ngFor="let menu of menus" routerLinkActive="menu-item-active">
        <div *ngIf="!menu.levelTwo.length; else dropDownList">
          <a class="menu-link" [routerLink]="menu.route">{{menu.levelOne}}</a>
        </div>
        <ng-template #dropDownList>
          <nz-dropdown [nzTrigger]="'hover'">
            <a class="menu-link" nz-dropdown [routerLink]="menu.route">{{menu.levelOne}}</a>  
            <ul nz-menu>
              <ng-container *ngFor="let itemMenu of menu.levelTwo">
                <li nz-menu-item><a [innerHtml]="itemMenu.item" class="font-size-14"></a></li>
              </ng-container>
            </ul>
          </nz-dropdown>
        </ng-template>
      </li>
      <li class="menu-item pull-left">
        <nz-dropdown [nzTrigger]="'hover'">
          <a  class="menu-link" nz-dropdown>更多</a>
          <ul class="more-list" nz-menu>
            <li nz-menu-item><a>更多列表</a></li>
          </ul>
        </nz-dropdown>
      </li>
      <li class="menu-item pull-left">
        <nz-dropdown [nzTrigger]="'click'" [nzClickHide]="false">
          <a  class="menu-link confguration-icon" nz-dropdown></a>
          <div class="menu-config" nz-menu>
            <app-menu-config></app-menu-config>
          </div>
        </nz-dropdown>
      </li>
    </ul>
  </div>
  <div class="menu-more pull-right">
    <app-user-operation></app-user-operation>
    <app-weichat></app-weichat>
    <app-information></app-information>
    <app-add-patient></app-add-patient>
    <app-patient-search></app-patient-search>
  </div>
</div>
